(
"hamza-ar",
"alef-ar.isol",
"alef-ar.fina",
"behDotless-ar.isol",
"behDotless-ar.fina",
"behDotless-ar.fina.high",
"behDotless-ar.medi",
"behDotless-ar.medi.high",
"behDotless-ar.init",
"behDotless-ar.init.high",
"hah-ar.isol",
"hah-ar.fina",
"hah-ar.alt.isol",
"hah-ar.alt.fina",
"hah-ar.alt2.isol",
"hah-ar.alt2.fina",
"hah-ar.alt3.isol",
"hah-ar.alt3.fina",
"hah-ar.medi",
"hah-ar.init",
"dal-ar.isol",
"dal-ar.fina",
"reh-ar.isol",
"reh-ar.fina",
"seen-ar.isol",
"seen-ar.fina",
"seen-ar.medi",
"seen-ar.init",
"sad-ar.isol",
"sad-ar.fina",
"sad-ar.medi",
"sad-ar.init",
"tah-ar.isol",
"tah-ar.fina",
"tah-ar.medi",
"tah-ar.init",
"ain-ar.isol",
"ain-ar.fina",
"ain-ar.fina.alt",
"ain-ar.medi",
"ain-ar.medi.alt",
"ain-ar.init",
"fehDotless-ar.isol",
"fehDotless-ar.fina",
"fehDotless-ar.medi",
"fehDotless-ar.medi.alt",
"fehDotless-ar.init",
"qafDotless-ar.isol",
"qafDotless-ar.fina",
"kaf-ar.isol",
"kaf-ar.fina",
"kaf-ar.medi",
"kaf-ar.init",
"lam-ar.isol",
"lam-ar.fina",
"lam-ar.isol.alt",
"lam-ar.fina.alt",
"lam-ar.medi",
"lam-ar.init",
"meem-ar.isol",
"meem-ar.fina",
"meem-ar.isol.alt",
"meem-ar.fina.alt",
"meem-ar.medi",
"meem-ar.init",
"noonghunna-ar.isol",
"noonghunna-ar.fina",
"heh-ar.isol",
"heh-ar.fina",
"heh-ar.medi",
"heh-ar.init",
"waw-ar.isol",
"waw-ar.fina",
"alefMaksura-ar.isol",
"alefMaksura-ar.isol.alt",
"alefMaksura-ar.fina",
"kashida-ar",
"kashida-ar.20",
"kashida-ar.50",
"kashida-ar.70",
"kashida-ar.dots",
"lam_alef-ar.fina",
"lam_alef-ar.isol",
"lam_lam_heh-ar.isol",
"decimalseparator-ar",
"thousandseparator-ar",
"zero-ar",
"one-ar",
"two-ar",
"three-ar",
"four-ar",
"fourFarsi-ar",
"fourFarsi-ar.urdu",
"five-ar",
"fiveFarsi-ar",
"six-ar",
"sixFarsi-ar",
"seven-ar",
"sevenFarsi-ar",
"sevenFarsi-ar.urdu",
"eight-ar",
"nine-ar",
space,
"comma-ar",
"semicolon-ar",
"question-ar",
"parenleft-ar",
"parenright-ar",
period,
colon,
exclam,
slash,
backslash,
hyphen,
endash,
emdash,
underscore,
parenleft,
parenright,
braceleft,
braceright,
bracketleft,
bracketright,
"percent-ar",
bar,
"dotabove-ar",
"dotbelow-ar",
"twodotshorizontalabove-ar",
"twodotshorizontalbelow-ar",
"threedotsdownbelow-ar",
"threedotsupabove-ar",
"gafsarkashabove-ar",
"hamzaabove-ar",
"hamzabelow-ar",
"fathatan-ar",
"dammatan-ar",
"kasratan-ar",
"fatha-ar",
"damma-ar",
"kasra-ar",
"shadda-ar",
"sukun-ar",
"madda-ar",
"alef-ar",
"alefHamzaabove-ar",
"alefHamzabelow-ar",
"alefMadda-ar",
"behDotless-ar",
"beh-ar",
"peh-ar",
"teh-ar",
"theh-ar",
"jeem-ar",
"tcheh-ar",
"hah-ar",
"khah-ar",
"dal-ar",
"thal-ar",
"reh-ar",
"zain-ar",
"jeh-ar",
"seen-ar",
"sheen-ar",
"sad-ar",
"dad-ar",
"tah-ar",
"zah-ar",
"ain-ar",
"ghain-ar",
"feh-ar",
"fehDotless-ar",
"fehAfrican-ar",
"qafDotless-ar",
"qaf-ar",
"qafAfrican-ar",
"kaf-ar",
"keheh-ar",
"gaf-ar",
"lam-ar",
"meem-ar",
"noon-ar",
"noonghunna-ar",
"noonAfrican-ar",
"heh-ar",
"tehMarbuta-ar",
"waw-ar",
"wawHamzaabove-ar",
"alefMaksura-ar",
"yeh-ar",
"yehHamzaabove-ar",
"yehFarsi-ar",
"yehbarree-ar",
_ain1,
_ain2,
_sad,
_tail,
_beh.init,
_beh.init.high
)